<form action="/posts" method="post">

  <p><label for="name">Name: </lable><input type="text" id="name" name="name"></p>
  <p><label for="content">Content: <input type="text" id="content" name="content"></p>
  <button type="submit">submit</button>
  
</form>
